/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

.debug {

    /* [class^="col"] {
        border: 1px dashed black
    } */

    header,
    main,
    footer {
        border: 1px dashed red;
    }

    .container {
        border: 1px dashed yellow;
    }


}

/* Colors */

:root {
    --bg-jumbotron: #b4d0e6;
    --bg-btn: #0061fe;
    --col-light: #e4e3e6;
}




/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;


}


.sm-container {
    max-width: 1000px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}


.btn {
    padding: 0.5rem 0.8rem;
    background-color: var(--bg-btn);
    border: none;
    color: white;
    cursor: pointer;

}



.bold {
    font-weight: bold;
}

.c-lightgray {
    color: lightgray;
}


.fa-check {
    color: #2176ff;


}

.click-here {
    text-decoration: underline;
    color: #0061fe;

}


.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

/* Columns */


.col-1 {
    width: calc(100% / 12 * 1);
}


.col-2 {
    width: calc(100% / 12 * 2);
}


.col-3 {
    width: calc(100% / 12 * 3);
}


.col-4 {
    width: calc(100% / 12 * 4);
}


.col-5 {
    width: calc(100% / 12 * 5);
}


.col-6 {
    width: calc(100% / 12 * 6);
}


.col-7 {
    width: calc(100% / 12 * 7);
}


.col-8 {
    width: calc(100% / 12 * 8);
}


.col-9 {
    width: calc(100% / 12 * 9);
}


.col-10 {
    width: calc(100% / 12 * 10);
}


.col-11 {
    width: calc(100% / 12 * 11);
}


.col-12 {
    width: calc(100% / 12 * 12);
}

.row {
    display: flex;
    flex-wrap: wrap;
}



/* Generics */

body {
    font-family: Helvetica, sans-serif;


}

a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}


ul {
    gap: 0 1rem;

}


li {

    list-style: none;
}


img {
    max-width: 100%;
}

/* Header */

header {

    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;


    li {
        font-size: 0.8rem;
    }
}

.navbar {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.header-left ul {

    width: 100%;

}

.header-right {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    ul {
        justify-content: flex-end;
    }


}

/* Main */

/* Jumbotron */

.jumbotron {
    width: 100%;
    background-color: var(--bg-jumbotron);

    .container {
        position: relative;
        top: 80px;
    }
}





.jumbotron-content {
    gap: 3rem;



    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 1rem;
    }


    p {
        text-align: left;
    }

    .btn {
        padding: 0.6rem 1rem;
    }

    i {
        font-size: 2rem;
    }
}


/* Sections */

.business-section {

    text-align: left;
    padding: 150px 0;

    h2 {
        font-size: 2rem;
    }

}


.input-buttons {
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;



    .circle {
        width: 100%;
        height: 1rem;
        width: 1rem;
        border: 2px solid black;
        border-radius: 50%;

    }

    .clicked {
        border: 4px solid #0062ff;
    }

    .description {

        display: flex;
        align-items: center;
        gap: 0.6rem;
    }
}

.card {

    line-height: 2.5rem;
    margin: 0.5rem;


    .card-top {

        text-align: center;
        padding: 0.5rem;
        font-size: 0.8rem;
        border: 1px solid var(--col-light);
    }

    .card-main {


        gap: 0.8rem;
        padding: 1rem;
        border: 1px solid var(--col-light);
        font-size: 0.8rem;
        flex-direction: column;
        flex-grow: 1;

        p {
            padding: 1rem;

        }


    }

    .card-bottom {

        padding: 1.5rem;
        border: 1px solid var(--col-light);
        font-size: 0.8rem;

        h5 {
            font-size: 0.9rem;
            padding: 0.5rem 0;
        }
    }
}


.card-main .btn {
    padding: 0.5rem 1rem;
    margin: 1.2rem 0;
}


.card-main ul {
    line-height: 2rem;
    height: 200px;
}

.card-bottom ul {
    line-height: 2rem;
    min-height: 300px;
}



.full-card {
    margin: 1rem 0;
}

.full-card-header {
    border: 1px solid var(--col-light);
    text-align: center;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    padding: 0.3rem;

}

.full-card-body {
    border: 1px solid var(--col-light);
    padding: 2rem;
    line-height: 2rem;
    margin: 0 0.5rem;




    .w-70 {
        flex-direction: column;
        flex-basis: 100%;
        justify-content: space-between;
        gap: 2rem;

    }


}




.partner-section {

    .card-description {
        justify-content: center;
        align-items: center;
        padding: 2rem;




    }


}


.full-card .w-40 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    font-size: 0.9rem;


    .btn {
        background-color: white;
        border: 2px solid #080808;
        color: #080808;
        font-weight: bold;
    }

}


.title-card {
    text-align: center;
    font-size: 2.3rem;
    padding: 1rem;
}


.card-operation {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;




    p {

        line-height: 1.2rem;
        font-size: 0.9rem;
    }
}


.client-section {
    .card {
        margin: 0.5rem;
        flex-direction: column;
        gap: 2rem;
        width: 70%;
        padding: 1rem 0;
    }

    h2 {
        font-size: 2.5rem;
    }
}

/* Footer */

footer {
    background-color: black;
    padding: 3rem 0.5rem;
    color: lightgray;
}


.footer-top {
    padding: 1rem 0;
    line-height: 1.5rem;
    width: 100%;
    justify-content: space-between;

    .title-list {
        font-size: 1rem;
        padding: 1rem 0;
    }

    li {
        font-size: 0.8rem;
    }


}



.footer-bottom {

    padding: 1.5rem;

    .s-line {
        width: 10%;
        border-bottom: 2px solid lightgray;
        height: 1px;
        margin: 0.8rem 0;
    }

    i {
        font-size: 0.7rem;
    }

    span {
        font-size: 0.8rem;

    }

}