/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

.debug {

    [class^="col"] {
        border: 1px dashed black
    }

    header,
    main,
    footer {
        border: 1px dashed red;
    }

    .container {
        border: 1px dashed yellow;
    }


}

/* Colors */

:root {
    --bg-jumbotron: #b4d0e6;
    --bg-btn: #0061fe;
}




/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
    padding: 2.5rem;

}

.d-flex {
    display: flex;
}


/* Generics */

body {
    font-family: Helvetica, sans-serif;


}

a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}


ul {
    gap: 0 1rem;

}


li {

    list-style: none;
}

.btn {
    padding: 0.5rem 0.8rem;
    background-color: var(--bg-btn);
    border: none;
    color: white;
    cursor: pointer;

}

img {
    max-width: 100%;
}

/* Header */

header {

    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;


    li {
        font-size: 0.8rem;
    }
}

.navbar {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.header-left ul {

    width: 100%;

}

.header-right {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    ul {
        justify-content: flex-end;
    }


}

/* Main */

main {
    background-color: var(--bg-jumbotron);
    position: relative;
    min-height: 500px;


}

.jumbotron {
    width: 100%;




}


.jumbotron-content {
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    bottom: 1.2rem;


    - h1 {
        text-align: center;
        font-size: 3rem;
        padding: 1rem;
    }


    p {
        text-align: left;
    }



    i {
        font-size: 2rem;
    }
}

.jumbotron-img {
    width: 50%;
    position: absolute;
    bottom: 50px;
    right: 50px;

}